// ---------- Colors ----------
$color-primary: #1c28d7;
$color-text: #333333;

$color-point: #fe9dea;
$color-pink: #ffe3f9;
$color-blue: #262ea7;
$color-paper: #eef0f4;
$color-white: #ffffff;
$color-highlight: #fff23d;
$color-lime: #b8e319;
$color-black: #000000;
$color-grid: #3b48f3;

// ---------- 배경 모눈종이 ----------
$grid-cell: 60px;
$grid-line: 1px;

// 색상 맵
$colors: (
  'primary': $color-primary,
  'text': $color-text,
  'point': $color-point,
  'paper': $color-paper,
  'white': $color-white,
  'highlight': $color-highlight,
  'lime': $color-lime,
  'black': $color-black,
);

// ---------- Font Families ----------
$font-dalmoori: 'Dalmoori', sans-serif; // 달무리
$font-gmarket: 'GmarketSans', sans-serif; // Gmarket Sans

// ---------- Font Weights ----------
$fw-light: 300; // Gmarket Light
$fw-regular: 400; // 달무리 Regular
$fw-medium: 500; // Gmarket Medium
$fw-bold: 700; // Gmarket Bold

// ---------- Font Sizes (역할별) ----------
$fs-hero: 120px; // 달무리 regular — hero h1
$fs-display: 40px; // 달무리 regular 40 / gmarket bold 40
$fs-Xlarge: 60px;
$fs-large: 50px;
$fs-title: 30px; // gmarket medium
$fs-small: 20px; // gmarket small
$fs-body: 24px; // gmarket light

// ---------- 기타 ----------
$radius: 8px;
$z-nav: 100;
