@use '../abstracts/tokens' as *;
@use '../abstracts/mixins' as *;

body {
  @include type-body;              // 기본 본문 = Gmarket light 24
  color: $color-text;              // 본문 #333
  background: $color-paper;
  overflow-x: hidden;
}
